= render 'project_row'
.container
  .section
    %h5#projects-info Projects {{ count }}

  #projects
    %table
      %thead
        %th #
        %th Name
        %th Description
        %th
      %tbody
        %tr{is: 'project-row', 'v-for': '(project, index) in projects', ':project': :project, ':index': :index}


.fixed-action-btn.horizontal#new-project
  %a.btn-floating.btn-large.red{'@click': 'showNewForm'}
    %i.large.material-icons note_add
