- content_for :nav_menu_right_side do
  #project{'project-id': project.id}
    %a{href: 'javascript:void(0)'} {{ project.name }}

= render 'projects/tickets/ticket_row'
.row
  #done-tickets
    = render 'projects/tickets/index', tickets: 'ticketsStatusDone', label: 'Done'

  #current-tickets
    = render 'projects/tickets/index', tickets: 'ticketsStatusWaiting', label: 'Current'

  #waiting-tickets
    = render 'projects/tickets/index', tickets: 'ticketsStatusIcebox', label: 'Waiting'

.fixed-action-btn.horizontal
  %a.btn-floating.btn-large.red
    %i.large.material-icons add
  %ul
    %li#manage-users
      %a.btn-floating.orange{'@click': 'showNewForm'}
        %i.material-icons group
    %li#add-ticket
      %a.btn-floating.red{'@click': 'showNewForm'}
        %i.material-icons bug_report
