%script#comment-row{type: 'text/x-template'}
  .card.teal
    .card-content
      %p
        %span.white-text {{ comment.content }}
      %br
      %p.right-align
        .chip.tooltipped{'data-position':'right', 'data-delay':'50', ':data-tooltip': 'comment.created_at'}
          %img{':src': 'author.photo.assets.chip'}
          {{ author.name }}
        %template{'v-if':'comment.editable'}
          %i.material-icons.right.activator.white-text.m-l-0.l-h-32.c-pointer more_vert
    %template{'v-if':'comment.editable'}
      .card-reveal
        .card-title
          %i.material-icons.right close
        %a.btn.red.waves-effect.waves-light{'data-badge-caption': ' ', '@click': 'removeComment(comment)'} remove

%script#ticket-row{type: 'text/x-template'}
  %li.collection-item{'v-bind:class': 'ticket.color'}
    .title{'@click': 'showDescription', style: 'cursor: pointer;'}
      {{ ticket.title }}
    %template{'v-if':'show_description'}
      %h6
        %span.grey-text Requested:
        {{ ticket.created_at }}
      %h6
        %span.grey-text Requester:
        .chip
          %img{':src': 'creator.photo.assets.chip'}
          {{ creator.name }}
      %h6
        %span.grey-text Description:
      %p
        {{ ticket.description }}
      .divider
      %p.center-align
        %a.waves-effect.waves-light.btn{'@click': 'showEditForm'} Edit
        %a.waves-effect.waves-light.btn.red{'@click': 'removeTicket'} Remove
      .divider
      %div{is: 'comment-row', 'v-for': "comment in ticket.comments", ':comment': :comment}

      #comment-form
        .input-field
          = text_area_tag :content, '', 'v-model': 'comment.content', 'v-bind:class': '{invalid: errors.content}', class: 'materialize-textarea'
          %label{for: 'content'} Comment
          %span.red-text {{ errors.content }}
        %p.center-align
          %a.waves-effect.waves-light.btn.teal{'@click': 'submitComment'} Comment
