!!!
%html
  %head
    %title Ticketownik
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body{ 'js-class-name': js_class_name }
    = yield
    #modal.modal
